@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 10px;
    padding: 0px;
    font-family: 'Lato', sans-serif Courier, monospace;
}


body {
    font-family: 'Lato', sans-serif, Courier, monospace;
    background-color: rgb(111, 133, 126);*/
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 0fr;
    column-gap: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgb(158, 158, 158);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.textoDescripcion  {
    text-align: center;
    padding: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.textoDescripcion h1 {
    font-size: 40px;
}

.textoDescripcion h2 {
    font-weight: 400;
}

.textoDescripcion h4 {
    font-weight: 400;
}

.navbar {
    text-align: center;
    grid-template-columns: 1fr 1fr 0fr;
    column-gap: 5px;
    margin: px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(49, 49, 49);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.navbar a:hover {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.navbar a {
    color: rgb(49, 49, 49);
    padding: 27px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-decoration: none;
    border: 0px solid rgb(99, 171, 150);
    transition: box-shadow .3s;
}

.navbar :visited {
    border-width: 5px solid;
    color: rgb(49, 49, 49);
    margin-bottom: 0;
    text-decoration: none;
}

.botonMenuChico {
    margin-bottom: 10px;
    padding: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(49, 49, 49);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.botonMenuChico:hover {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.menuChico {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.colapsableContenido {
    display: none;
    position: absolute;
    z-index: 1;
    margin-bottom: 10px;
    padding: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(49, 49, 49);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.colapsableContenido a {
    display: block;
    color: rgb(49, 49, 49);
    padding: 27px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-decoration: none;
    border: 0px solid rgb(99, 171, 150);
    transition: box-shadow .3s;
}

.colapsableContenido a:hover {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.show {
    display: block;
}

.sobreMi1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 0fr;
    column-gap: 5px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(255, 255, 255);
    padding: 70px;
    text-align: center;
    overflow: auto;
    font-family: 'Lato', Courier, monospace;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.webDesign {
    margin-top: 0;
    margin-bottom: 0px;
    padding: 70px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 300;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid rgb(99, 171, 150);
    transition: box-shadow .3s;
    overflow: hidden;
}

.webDesign:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: 0px;
}

.webDesignIconoTexto {
    font-family: 'Lato', Courier, monospace;
    font-weight: 400;
}

.experiencia {
    margin-top: 0px;
    margin-bottom: 0;
    padding: 70px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 300;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid rgb(99, 171, 150);
    transition: box-shadow .3s;
    overflow: hidden;
}

.experiencia:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: 0px;
}

.experienciaIconoTexto {
    font-family: 'Lato', Courier, monospace;
    font-weight: 400;
}

.footer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    padding: 70px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Lato',sans-serif, Courier, monospace;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 0;
    font-size: 25px;
    border: 0px solid;
    border-top-color: rgb(73, 131, 114);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.footer :visited {
    color: rgb(0, 0, 0);
}

.logoInstagram {
    display: inline-block;
}

.logoGithub {
    display: inline-block;   
}

.logolinkedIn {
    display: inline-block;
}

.logoTwitter {
    display: inline-block;  
}


@media screen and (max-width: 600px) {
    .navbar a.icon {
        float: right;
        display: block
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        display: none;
    }
}


@media screen and (min-width: 600px) {
    .menuChico {
        display: none
    }
}

@media screen and (max-width: 600px) {
    .prueba {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .prueba2 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .prueba3 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .prueba4 {
        display: none;
    }
}

@media  (max-width: 600px) {
    .boxTexto {
      width: 100%;
    }
}

@media (min-width: 600px) {
    .fotoPerfil {
    text-align: center;
    align-content: center; 
    }
}

@media (max-width: 500px) {
    .conocimientos {
        text-align: center;
        margin: auto;
        padding: auto;
    }
}

@media screen and (max-width: 600px) {
    .container {
        display: grid;
        text-align: center;
        width: auto;
        grid-template-columns: 0fr 0fr 0fr;
    }
}

@media screen and (max-width: 600px) {
    .img {
        display: flex;
        text-align: center;
        margin-left: 5px;
    }
}

@media screen and (max-width: 600px) {
    .sobreMi1 {
        display: block;
        text-align: center;
        padding: 10px;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .container {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .webDesign {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    * {
        margin: 0px;
        padding: 0px;
    }
}

